<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>编辑项目</title>
</head>
<body>
<h1>编辑项目信息</h1>
<form th:action="@{/projectc/edit}" th:object="${project}" method="post">
    <input type="hidden" th:field="*{projectId}" />
    <label>项目名称:</label>
    <input type="text" th:field="*{projectName}" th:required="required"/><br/>

    <label>项目描述:</label>
    <textarea th:field="*{projectContent}" th:required="required"></textarea><br/>
    <input type="text" th:field="*{projectState}" />
<!--    todo:下拉列表选择状态 -->
    <input type="hidden" th:field="*{administratorId}" />
    <button type="submit">保存更改</button>
</form>
</body>
</html>