<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>iwork cloud公司管理系统</title>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"/>

</head>
<body>
<div class="container">
    <h2>iwork cloud公司管理系统</h2>
    <form class="form-horizontal" th:action="@{/login}"  method="post">
        <div class="form-input">
            <label for="username">用户名</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-input">
            <label for="password">密码</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-actions">
            <button type="submit">登录</button>
            <button type="reset">重置</button>
        </div>
    </form>
    <p>有问题？请联系管理员解决</p>
    <div class="links">
        <a href="#">关于我们</a>
        <a href="#">隐私政策</a>
        <a href="#">招聘信息</a>
        <a href="#">客户支持</a>
    </div>

</div>
<div class="footer">
    <p>关注我们</p>
    <a href="#">隐私政策链接</a>
    <p>Copyright xxxxxxxxxxxxxxxxxxxxxxxx</p>
</div>
</body>
</html>