<body>
    欢迎来到iwork clound系统首页！

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<h1>欢迎来到iwork clound系统首页！</h1>
<div>
    <a th:href="@{/homePersonalCenter}" class="btn">个人中心</a>
    <a th:href="@{/page2}" class="btn">页面2</a>
    <a th:href="@{/page3}" class="btn">页面3</a>
    <a th:href="@{/page4}" class="btn">页面4</a>
    <a th:href="@{/page5}" class="btn">页面5</a>
    <a th:href="@{/projectc/projectListc}" class="btn">项目列表</a>
</div>
</body>
</html>