<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iworkcloud.mapper.AdministratorMapper">

    <resultMap id="BaseResultMap" type="com.iworkcloud.pojo.entity.Administrator">
        <result column="administrator_id" property="administratorId" />
        <result column="administrator_name" property="administratorName" />
        <result column="administrator_account" property="administratorAccount" />
        <result column="administrator_password" property="administratorPassword" />
        <result column="administrator_authority" property="administratorAuthority" />
        <result column="administrator_salt" property="administratorSalt" />
    </resultMap>


    <parameterMap id="Administrator" type="com.iworkcloud.pojo.entity.Administrator"/>

    <sql id="Base_Column_List">
        administrator_id, administrator_name, administrator_account,administrator_password,administrator_authority,administrator_salt
    </sql>

    <insert id="insert" parameterMap="Administrator">
        insert into t_administrator (administratorname, password, age)
        values (#{administratorname},#{password},#{age})
    </insert>


    <update id="update" parameterMap="Administrator">
        update
        administrator
        <trim prefix="set" suffixOverrides=",">
            <if test="administratorname!=null and administratorname!=''">
                administratorname = #{administratorname},
            </if>
            <if test="password!=null and password!=''">
                password = #{password},
            </if>
            <if test="age!=null and age!=''">
                age = #{age},
            </if>
        </trim>
        where id= #{id}
    </update>

    <delete id="delete" parameterType="Integer">
        delete from  administrator where id=#{id}
    </delete>

    <select id="findAll" resultMap="BaseResultMap" >
        select
            *
        from administrator
    </select>

    <select id="findByEntity" parameterMap="Administrator" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from administrator
        <where>
            <if test="administratorname!=null and administratorname!=''">
                and administratorname = #{administratorname}
            </if>
            <if test="password!=null and password!=''">
                and password = #{password}
            </if>
            <if test="age!=null and age!=''">
                and age = #{age}
            </if>
        </where>
    </select>




    <!--	查询盐值信息-->
    <select id="findSaltByAdministratorAccount" parameterType="String" resultType="String">
        select
            administrator_salt
        from t_administrator where administrator_account=#{administratorAccount}
    </select>
    <!--验证用户登录信息-->
    <select id="findByAdministratornameAndPassword" parameterMap="Administrator" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from t_administrator where administrator_account=#{administratorAccount} and administrator_password=#{administratorPassword}
    </select>
</mapper>
