<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iworkcloud.mapper.AttendanceMapper">

    <resultMap id="BaseResultMap" type="com.iworkcloud.pojo.Attendance">
        <result column="attendance_id" property="attendanceId" />
        <result column="user_id" property="userId" />
        <result column="attendance_state" property="attendanceState" />
        <result column="attendance_time" property="attendanceTime" />
        <result column="date" property="date" />
        <result column="deadline" property="deadline" />
    </resultMap>


    <parameterMap id="Attendance" type="com.iworkcloud.pojo.Attendance"/>


    <sql id="Base_Column_List">
        attendance_id, user_id, attendance_state,attendance_time,date,deadline
    </sql>

    <insert id="insert" parameterMap="Attendance">
        insert into t_attendance (user_id, attendance_state,date,deadline)
        values (#{userId},#{attendanceState},#{date},#{deadline})
    </insert>


<!--    <update id="update" parameterMap="Attendance">-->
<!--        update-->
<!--        attendance-->
<!--        <trim prefix="set" suffixOverrides=",">-->
<!--            <if test="attendancename!=null and attendancename!=''">-->
<!--                attendancename = #{attendancename},-->
<!--            </if>-->
<!--            <if test="password!=null and password!=''">-->
<!--                password = #{password},-->
<!--            </if>-->
<!--            <if test="age!=null and age!=''">-->
<!--                age = #{age},-->
<!--            </if>-->
<!--        </trim>-->
<!--        where id= #{id}-->
<!--    </update>-->

<!--    <delete id="delete" parameterType="Integer">-->
<!--        delete from  attendance where id=#{id}-->
<!--    </delete>-->

<!--    <select id="findAll" resultMap="BaseResultMap" >-->
<!--        select-->
<!--            *-->
<!--        from attendance-->
<!--    </select>-->

<!--    <select id="findByEntity" parameterMap="Attendance" resultMap="BaseResultMap">-->
<!--        select-->
<!--        <include refid="Base_Column_List"></include>-->
<!--        from attendance-->
<!--        <where>-->
<!--            <if test="attendancename!=null and attendancename!=''">-->
<!--                and attendancename = #{attendancename}-->
<!--            </if>-->
<!--            <if test="password!=null and password!=''">-->
<!--                and password = #{password}-->
<!--            </if>-->
<!--            <if test="age!=null and age!=''">-->
<!--                and age = #{age}-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->


    <select id="findAllByUserId" parameterType="Integer" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from t_attendance where user_id = #{userId}
    </select>

    <select id="findAttendanceByDateAndUserId" parameterMap="Attendance" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from t_attendance where user_id = #{userId} And date = #{date}
    </select>

    <update id="attendanceByAttendanceId" parameterMap="Attendance">
        update
        t_attendance
        <trim prefix="set" suffixOverrides=",">
            <if test="userId!=null and userId!=''">
                user_id = #{userId},
            </if>
            <if test="attendanceState!=null and attendanceState!=''">
                attendance_state = #{attendanceState},
            </if>
            <if test="attendanceTime!=null and attendanceTime!=''">
                attendance_time = #{attendanceTime},
            </if>
            <if test="date!=null and date!=''">
                date = #{date},
            </if>
            <if test="deadline!=null and deadline!=''">
                deadline = #{deadline},
            </if>

        </trim>
        where attendance_id = #{attendanceId}
    </update>

    <select id="findAttendancesByAttendance" parameterMap="Attendance" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from t_attendance
        <where>
            <if test="attendanceId!=null and attendanceId!=''">
                and attendance_id = #{attendanceId}
            </if>
            <if test="userId!=null and userId!=''">
                and user_id = #{userId}
            </if>
            <if test="attendanceState!=null and attendanceState!=''">
                and attendance_state = #{attendanceState}
            </if>
            <if test="date!=null and date!=''">
                and date = #{date}
            </if>
            <if test="deadline!=null and deadline!=''">
                and deadline = #{deadline}
            </if>
        </where>
    </select>

</mapper>
