<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iworkcloud.mapper.UserMapper">

	<resultMap id="BaseResultMap" type="com.iworkcloud.pojo.User">
		<result column="user_id" property="userId" />
		<result column="user_name" property="userName" />
		<result column="user_account" property="userAccount" />
		<result column="user_password" property="userPassword" />
		<result column="user_email" property="userEmail" />
		<result column="user_authority" property="userAuthority" />
		<result column="user_salt" property="userSalt" />
	</resultMap>


	<parameterMap id="User" type="com.iworkcloud.pojo.User"/>

	<sql id="Base_Column_List">
		user_id, user_name, user_account,user_password,user_email,user_authority,user_salt
	</sql>

	<insert id="insert" parameterMap="User">
		insert into t_user (username, password, age)
		values (#{username},#{password},#{age})
	</insert>


	<update id="update" parameterMap="User">
		update
		 	 t_user
		<trim prefix="set" suffixOverrides=",">
			<if test="userName!=null and userName!=''">
				user_name = #{userName},
			</if>
		    <if test="userAccount!=null and userAccount!=''">
				user_account = #{userAccount},
			</if>
			<if test="userPassword!=null and userPassword!=''">
				user_password = #{userPassword},
			</if>
		    <if test="userEmail!=null and userEmail!=''">
				user_email = #{userEmail},
			</if>

		</trim>
		  where user_id= #{userId}
	</update>

	<delete id="delete" parameterType="Integer">
		delete from  user where id=#{id}
	</delete>

	<select id="findAll" resultMap="BaseResultMap" >
		select
		*
		from user
	</select>

	<select id="findByPrimaryKey" parameterType="Integer"   resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"></include>
		from t_user  where  user_id=#{userId}
	</select>

	<select id="findUserByAccount" parameterType="String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"></include>
		from t_user where user_account=#{userAccount}
	</select>
</mapper>
